* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgb(245, 243, 243);
  box-shadow: 2px 2px 4px rgb(235, 233, 233);
  padding-bottom: 5px;
}

.px-160 {
  padding-left: 160px;
  padding-right: 160px;
}

.link-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header-link {
  font-size: 28px;
  text-decoration: none;
  color: rgb(64, 59, 59);
}

.current-page {
  color: rgb(0, 128, 0);
  border-bottom: 4px solid rgb(0, 128, 0);
}

.griechischer-bauernsalat{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgb(245, 243, 243);
  margin-bottom: 12px;
  margin-top: 24px;
}

.griechischer-bauernsalat-img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

span img {
  height: 16px;
  width: 16px;
}

span{
  display: flex;
  gap: 4px;
  background-color: rgba(239,239,239,255);
  border-radius: 8px;
  padding: 8px;
}

small{
  display: flex;
  gap: 16px;
  
}

.prepare {
  margin-top: 12px;
  margin-bottom: 24px;
}

.prepare small{
  padding-top: 12px;
  padding-bottom: 24px;
}

.profile-icon{
  height: 64px;
  border-radius: 50%;
}

.profile{
  display: flex;
  align-items: center;
  gap: 24px;
}

.recipe-creator h3{
  padding-bottom: 12px;
}

