@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  font-family: "Raleway", sans-serif;
  max-width: 1920px;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgb(245, 243, 243);
  box-shadow: 2px 2px 4px rgb(235, 233, 233);
  padding-bottom: 5px;
  position: relative;
  height: 128px;
}

h1 {
  padding-bottom: 26px;
  font-size: 32px;
}

.px-160 {
  padding-left: 160px;
  padding-right: 160px;
}

.link-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header-link {
  font-size: 28px;
  text-decoration: none;
  color: rgb(64, 59, 59);
}

.header-link:hover {
  color: rgb(0, 128, 0);
}

.current-page {
  color: rgb(0, 128, 0);
  border-bottom: 4px solid rgb(0, 128, 0);
}

.daily-recipe {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  gap: 32px;
}

.daily-recipe-text {
  display: flex;
  flex-direction: column;
}

.daily-recipe img {
  width: 524px;
  border-radius: 10px;
}

.title-french-croissants {
  text-align: left;
  padding-top: 0px;
}

.daily-recipe-button {
  display: flex;
  margin-top: 20px;
}

.button-style {
  background-color: rgb(0, 128, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px 64px;
  font-size: 18px;
  cursor: pointer;
}

.kontakt-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-test {
  background-color: rgb(220, 220, 220);
  padding: 16px 16px;
  border-radius: 10px;
  width: 550px;
}

.kontakt-main h1 {
  padding-bottom: 32px;
}

.test {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.test input {
  border-radius: 5px;
  border: none;
  height: 24px;
}

.test textarea {
  border-radius: 5px;
  border: none;
  resize: none;
}

.submit-button {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 35, 35);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 16px;
}

footer img {
  height: 88px;
}

.social-links img {
  height: 58px;
}

.mobile-menu {
  position: absolute;
  top: 136px;
  right: 0;
  transition: all 250ms ease-in-out;
  padding: 16px 16px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.mobile-link-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobile-link {
  text-decoration: none;
  font-size: 24px;
  color: rgb(64, 59, 59);
}
.mobile-link:hover {
  color: rgb(0, 128, 0);
}

.hide-on-desktop {
  display: none;
}

.mobile-menu-closed {
  transform: translateX(200%);
}

/*Section Lust auf was Neues*/
.section-lust-auf-neues {
  background-color: rgb(240, 240, 240);
}

.start-page-h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 32px;
}

.lust-auf-neues-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
  padding-left: 160px;
  padding-right: 160px;
}

.croissant-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.croissant-pic {
  height: 240px;
  width: 240px;
  border-radius: 10px;
  object-fit: cover;
}

.text-frische-croissants {
  font-weight: 600;
  padding-top: 8px;
}

/*Section Pfanne vs. Wok*/

.pfanne-wok-div {
  display: flex;
  padding-bottom: 80px;
  padding-top: 10px;
  gap: 45px;
}

p {
  font-size: 18px;
}

/*Section Recipe*/

.griechischer-bauernsalat {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgb(245, 243, 243);
  margin-bottom: 12px;
  margin-top: 24px;
}

.griechischer-bauernsalat-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

span img {
  height: 16px;
  width: 16px;
}

span {
  display: flex;
  gap: 4px;
  background-color: rgba(239, 239, 239, 255);
  border-radius: 8px;
  padding: 8px;
}

small {
  display: flex;
  gap: 16px;
}

.prepare {
  margin-top: 12px;
  margin-bottom: 24px;
}

.prepare small {
  padding-top: 12px;
  padding-bottom: 24px;
}

.profile-icon {
  height: 64px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 24px;
}

.recipe-creator h3 {
  padding-bottom: 12px;
}

input {
  margin-left: 12px;
  height: 39px;
  border-radius: 8px 0 0 8px;
  border-color: rgb(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 18px;
}

.input-button {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
}

.recipe-table label {
  display: block;
  margin-top: 4px;
}

.recipe-table table {
  width: 100%;
  padding-top: 12px;
  border-collapse: collapse;
}

.recipe-table td  {
  padding: 12px;
  border-radius: 8px;
}

.table-bg {
  background-color: rgba(239, 239, 239, 255);
}

.prepare ol li {
  margin-bottom: 1em;
}

.prepare ol{
  padding-left: 20px;
  padding-right: 20px;
}
.nutritional-values table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
}
.nutritional-values thead{
  background-color: rgba(239, 239, 239, 255);
}

.nutritional-values td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  .nutritional-values th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

/*Impressum*/

.impressum-div {
  font-family: "Raleway", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

.impressum-h1 {
  text-align: left;
  padding-bottom: 26px;
  font-size: 32px;
}

/*Gulaschsuppe*/

.table-zubereitung {
  vertical-align: top;
}

.gulasch-div {
  display: flex;
  gap: 22px;
  padding-bottom: 22px;
}

.tipp-box {
  background-color: rgba(239, 239, 239, 255);
  border-radius: 8px;
  padding: 8px;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
}

.tipp-1 {
  width: 600px;
}

.datenschutz-link a{
  word-break: break-word;
}

@media (max-width: 865px) {
  .px-160 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 625px) {
  input {
    width: 70px;
  }

  .recipe-table .button-style {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 400px) {
  .recipe-table .button-style {
    padding-left: 20px;
    padding-right: 20px;
  }

  .griechischer-bauernsalat h1 {
    font-size: 23px;
  }


    
}

/*Media Query start page*/

/*Start Media Header*/
@media (max-width: 1385px) {
  .head-img {
    width: 350px;
  }
  .header-link {
    font-size: 20px;
  }
}
@media (max-width: 1020px) {
  .head-img {
    width: 250px;
  }
}
@media (max-width: 920px) {
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: block;
  }
}
/*End Media Header*/

@media (max-width: 1180px) {
  .px-160 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .daily-recipe {
    padding-left: 80px;
    padding-right: 80px;
  }

  .daily-recipe img {
    width: 424px;
    height: 250px;
    object-fit: cover;
  }

  .lust-auf-neues-div {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 970px) {
  .title-french-croissants {
    padding-bottom: 10px;
  }

  .daily-recipe-text p {
    font-size: 18px;
  }

  .button-style {
    padding: 12px 30px;
    font-size: 18px;
  }

  .daily-recipe-button {
    margin-top: 15px;
  }

  p {
    font-size: 18px;
  }

  .croissant-pic {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 900px) {
  .daily-recipe {
    align-items: center;
  }
}

@media (max-width: 780px) {
  .gulasch-div {
    flex-direction: column;
    width: 350px;
  }
}

@media (max-width: 750px) {
  .daily-recipe {
    flex-direction: column;
    align-items: flex-start;
  }

  .lust-auf-neues-div img {
    height: 150px;
    width: 150px;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 700px) {
  .pfanne-wok-div {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 660px) {
  .lust-auf-neues-div {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .lust-auf-neues-div img {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 550px) {
  .daily-recipe img {
    width: 350px;
    height: 200px;
  }

  .gulasch-div {
    flex-direction: column;
    width: 250px;
  }

  .px-160 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 490px) {
  .daily-recipe img {
    width: 280px;
    height: 180px;
  }

  .daily-recipe {
    padding-left: 50px;
    padding-right: 50px;
  }
  
}
@media (max-width: 460px){
  small {
    display: grid;
    grid-template-columns: 0fr 0fr;
  }
}

@media (max-width: 440px) {
.impressum-h1 {
 font-size: 26px;
 }

 .impressum-h2 {
  font-size: 20px;
 }

 .impressum-h3 {
font-size: 18px;
 }
}

@media (max-width: 380px) {
  .daily-recipe img {
    width: 200px;
    height: 130px;
  }

  footer img {
    height: 70px;
  }

  .social-links img {
    height: 46px;
  }
  .gulasch-div {
    flex-direction: column;
    width: 250px;
  }

  .px-160 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .gulasch-div {
    flex-direction: column;
    width: 190px;
  }

  .start-page-h2 {
    padding-left: 30px;
    padding-right: 30px;
  }


  @media (max-width:330px) {



  }
  
 }