* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgb(245, 243, 243);
  box-shadow: 2px 2px 4px rgb(235, 233, 233);
  padding-bottom: 5px;
}

.px-160 {
  padding-left: 160px;
  padding-right: 160px;
}

.link-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header-link {
  font-size: 28px;
  text-decoration: none;
  color: rgb(64, 59, 59);
}

.current-page {
  color: rgb(0, 128, 0);
  border-bottom: 4px solid rgb(0, 128, 0);
}
